<!DOCTYPE html>
<html>
<head>
    <title>店长排班表</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("sys:boss:save")>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.userId" @keyup.enter="query" placeholder="用户id">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
        </#if>
        <#if shiro.hasPermission("sys:boss:update")>
        <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
    </#if>
    <#if shiro.hasPermission("sys:boss:delete")>
    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
</#if>
<a class="btn btn-primary" href="http://shop.bbalt.org/charityShop/admin/excel/bossExport">导出</a>

</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">捐赠人id</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="boss.userId" placeholder="捐赠人id"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">报名分店id</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="boss.shopId" placeholder="报名分店id"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">值班日期</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="boss.dutyDate" placeholder="值班日期"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">1早班2晚班</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="boss.dutyType" placeholder="1早班2晚班"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">0为false,1为true审核通过(默认自动</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="boss.dutyStatus" placeholder="0为false,1为true审核通过(默认自动"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">提交时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="boss.dutySubmitTime" placeholder=""/>
            </div>
        </div>
<!--        <div class="form-group">-->
<!--            <div class="col-sm-2 control-label"></div>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="text" class="form-control" v-model="boss.operator" placeholder=""/>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <div class="col-sm-2 control-label"></div>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="text" class="form-control" v-model="boss.operationTime" placeholder=""/>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <div class="col-sm-2 control-label"></div>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="text" class="form-control" v-model="boss.operatorIp" placeholder=""/>-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group">
            <div class="col-sm-2 control-label">备注</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="boss.memo" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/boss.js?_${.now?long}"></script>
</body>
</html>