<!DOCTYPE html>
<html>
<head>
    <title>捐赠表</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("sys:donate:save")>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.userId" @keyup.enter="query" placeholder="用户id">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
        </#if>
        <#if shiro.hasPermission("sys:donate:update")>
        <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
    </#if>
    <#if shiro.hasPermission("sys:donate:delete")>
    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
</#if>
<a class="btn btn-primary" href="http://shop.bbalt.org/charityShop/admin/excel/donateExport">导出</a>

</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">捐赠人id</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.userId" placeholder="捐赠人id"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">捐赠至分店id</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.shopId" placeholder="捐赠至分店id"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.donateName" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">1物品,2书籍</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.donateType" placeholder="1物品,2书籍"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">图片</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.donateImage" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">价格</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.donatePrice" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">提交时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.donateSubmitTime" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">登记时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.donateRegisterTime" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">售出时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.donateSaleTime" placeholder=""/>
            </div>
        </div>
        <!--        <div class="form-group">-->
        <!--            <div class="col-sm-2 control-label">操作员</div>-->
        <!--            <div class="col-sm-10">-->
        <!--                <input type="text" class="form-control" v-model="donate.operator" placeholder=""/>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--            <div class="col-sm-2 control-label">操作时间</div>-->
        <!--            <div class="col-sm-10">-->
        <!--                <input type="text" class="form-control" v-model="donate.operationTime" placeholder=""/>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--            <div class="col-sm-2 control-label">操作IP</div>-->
        <!--            <div class="col-sm-10">-->
        <!--                <input type="text" class="form-control" v-model="donate.operatorIp" placeholder=""/>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="form-group">
            <div class="col-sm-2 control-label">备注</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="donate.memo" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/donate.js?_${.now?long}"></script>
</body>
</html>