<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>捐物爱心人士资料</title>
</head>
<body>
<!--<table th:each="user:${user}">-->
<div >
    <div style="padding-left: 200px">
    <img src="${user.face}" height="400" width="400" >
    </div>
<ul>
    <div style="font-size: 70px" >
        <td >姓名:</td>
        <td>${user.realName!"已隐藏"}</td>
    </div>
    <div style="font-size: 70px">
        <td>昵称:</td>
        <td>${user.nickName!"已隐藏"}</td>
    </div>
    <div style="font-size: 70px">
        <td>性别:</td>
        <td>${sexx!"已隐藏"}</td>
    </div>
    <div style="font-size: 70px">
        <td >年龄:</td>
        <td>${user.age!"已隐藏"}</td>
    </div>
    <div style="font-size: 70px">
        <td >联系方式:</td>
        <td>${user.mobilePhone!"已隐藏"}</td>
    </div>
    <div style="font-size: 70px">
        <td >签名:</td>
        <td>${user.signatureLine!"已隐藏"}</td>
    </div>

</ul>
</div>

</table>
</body>
</html>
